# pip install -r requirements.txt
# -e . tells pip to install this project itself in editable/development mode, using setup.py

pandas
numpy
scipy
seaborn
scikit-learn
ipywidgets
dill
xgboost
catboost
Flask

# -e .
